.recipe-details{
    display: flex;
    gap:50px ;
    padding: 60px 10%;
    background-color: #fff8f3;
    min-height: 100vh;
}

.recipe-details img{
    width: 45%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}
.details-content{
    flex: 1;
}

.details-content h1{
    font-size: 42px;
    margin: 15px;
}

.details-content h2{
    font-size: 30px;
    margin-bottom: 12px;
}

.details-content p{
    color: #666;
    line-height: 1.7;
}

.details-content ul{
    padding-left: 20px;
}
.details-content li{
    margin: 8px 0;
}

/* Recipe Buttons */

.recipe-actions{

    display: flex;

    gap: 15px;

    margin-top: 25px;

}

.edit-btn{

    background-color: #333;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 6px;

    font-size: 16px;

    cursor: pointer;

}

.edit-btn:hover{
    opacity: 0.85;
    /* background-color: #0056b3; */

}

.delete-btn{

    background-color: #dc3545;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 6px;

    font-size: 16px;

    cursor: pointer;

}

.delete-btn:hover{
     
    opacity: 0.85;
    /* background-color: #b02a37; */

}